# Compilación .NET
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# Archivos de usuario
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Base de datos local
*.db
*.db-shm
*.db-wal

# Variables y secretos locales
.env
appsettings.Local.json